@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Город Минск<br />
    ул. Гикало, 9.<br />
    <abbr title="Phone">Телефон: +385292448922</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="http://google.com">Support</a><br />
    <strong>Vk link:</strong> <a href="http://vk.com/mc_ilia">My Page</a>
</address>
